swagger: '2.0'
info:
  version: 1.0.0
  title: cmdb
  description: cmdb APIs
host: cmdb.guokr.com
basePath: /v1
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /awsresource:
    get:
      summary: default return a list of ec2
      description: cmdb ec2
      produces:
        - application/json
      responses:
        '200':
          description: a list of ec2
          schema:
            $ref: '#definitions/ec2'
  /awsresource/ec2:
    get:
      summary: return a list of ec2
      description: cmdb ec2
      produces:
        - application/json
      responses:
        '200':
          description: a list of ec2
          schema:
            $ref: '#definitions/ec2'
  /awsresource/vpc:
    get:
      summary: return a list of vpc
      description: cmdb vpc
      produces:
        - application/json
      responses:
        '200':
          description: a list of vpc
          schema:
            type: array
            items:
              properties:
                vpc_id:
                  type: string
                status:
                  type: string
                cidrblock:
                  type: string
  /awsresource/elasticache:
    get:
      summary: return a list of elasticache
      description: cmdb elasticache
      produces:
        - application/json
      responses:
        '200':
          description: a list of elasticache
          schema:
            $ref: '#definitions/elasticache'
  /awsresource/elb:
    get:
      summary: return a list of elb
      description: cmdb elb
      produces:
        - application/json
      responses:
        '200':
          description: a list of elb
          schema:
            $ref: '#definitions/elb'
  /awsresource/rds:
    get:
      summary: return a list of rds
      description: cmdb rds
      produces:
        - application/json
      responses:
        '200':
          description: a list of rds
          schema:
            $ref: '#definitions/rds'
  /awsresource/volume:
    get:
      summary: return a list of volume
      description: cmdb volume
      produces:
        - application/json
      responses:
        '200':
          description: a list of volume
          schema:
            $ref: '#definitions/volume'
  /awsresource/s3:
    get:
      summary: return a list of s3
      description: cmdb s3
      produces:
        - application/json
      responses:
        '200':
          description: a list of s3
          schema:
            type: array
            items:
              properties:
                id:
                  type: integer
                creation_date:
                  type: string
                name:
                  type: string
                size:
                  type: string
  /awsresource/iam:
    get:
      summary: return a list of iam
      description: cmdb iam
      produces:
        - application/json
      responses:
        '200':
          description: a list of iam
          schema:
            type: array
            items:
              properties:
                id:
                  type: integer
                user_id:
                  type: string
                user_name:
                  type: string
                password_lastused:
                  type: string
                create_date:
                  type: string
  '/awsresource/{instance_id}/ec2cloudwatch':
    get:
      summary: get an ec2 cloudwatch data
      parameters:
        - name: instance_id
          in: path
          required: true
          description: The  id of ec2
          type: string
        - $ref: '#parameters/Identification_ID'
        - $ref: '#parameters/Monitor_Item'
        - $ref: '#parameters/StartTime'
        - $ref: '#parameters/EndTime'
        - $ref: '#parameters/Period'
        - $ref: '#parameters/data_showstatus'
      responses:
        '200':
          $ref: '#responses/cloudwatch'
  '/awsresource/{LoadBalancerName}/elbcloudwatch':
    get:
      summary: get an elb cloudwatch data
      parameters:
        - name: LoadBalancerName
          in: path
          required: true
          description: The  name of LoadBalancerName
          type: string
        - $ref: '#parameters/Identification_ID'
        - $ref: '#parameters/Monitor_Item'
        - $ref: '#parameters/StartTime'
        - $ref: '#parameters/EndTime'
        - $ref: '#parameters/Period'
        - $ref: '#parameters/data_showstatus'
      responses:
        '200':
          $ref: '#responses/cloudwatch'
  '/awsresource/{DBInstanceIdentifier}/rdscloudwatch':
    get:
      summary: get an rds cloudwatch data
      parameters:
        - name: DBInstanceIdentifier
          in: path
          required: true
          description: The  name of DBInstanceIdentifier
          type: string
        - $ref: '#parameters/Identification_ID'
        - $ref: '#parameters/Monitor_Item'
        - $ref: '#parameters/StartTime'
        - $ref: '#parameters/EndTime'
        - $ref: '#parameters/Period'
        - $ref: '#parameters/data_showstatus'
      responses:
        '200':
          $ref: '#responses/cloudwatch'
  '/awsresource/{CacheClusterId}/eccloudwatch':
    get:
      summary: get an elasticache cloudwatch data
      parameters:
        - name: CacheClusterId
          in: path
          required: true
          description: The id of elasticache
          type: string
        - $ref: '#parameters/Identification_ID'
        - $ref: '#parameters/Monitor_Item'
        - $ref: '#parameters/StartTime'
        - $ref: '#parameters/EndTime'
        - $ref: '#parameters/Period'
        - $ref: '#parameters/data_showstatus'
      responses:
        '200':
          $ref: '#responses/cloudwatch'
definitions:
  ec2:
    type: array
    items:
      properties:
        instance_id:
          type: string
        private_ip:
          type: string
        public_ip:
          type: string
        run_state:
          type: string
        keyname:
          type: string
        create_time:
          type: string
        cpu:
          type: integer
        memory:
          type: integer
        vpc_id:
          type: string
  elb:
    type: array
    items:
      properties:
        id:
          type: integer
        loadbalancer_name:
          type: string
        loadbalancer_port:
          type: integer
        instance_port:
          type: integer
        created_time:
          type: string
        dns_name:
          type: string
        vpc_id:
          type: string
  rds:
    type: array
    items:
      properties:
        id:
          type: integer
        db_identifier:
          type: string
        status:
          type: string
        engine:
          type: string
        resource_id:
          type: string
        create_time:
          type: string
        storage_type:
          type: string
        cpu:
          type: integer
        memory:
          type: integer
  elasticache:
    type: array
    items:
      properties:
        id:
          type: string
        cachecluster_id:
          type: string
        create_time:
          type: string
        status:
          type: string
        engine:
          type: string
        memory:
          type: integer
  volume:
    type: array
    items:
      properties:
        volume_id:
          type: string
        size:
          type: string
        state:
          type: string
        create_time:
          type: string
        iops:
          type: string
        volume_type:
          type: string
        ec2_instance_id:
          type: string
responses:
  cloudwatch:
    description: the data return of cloudwatch
    schema:
      type: array
      items:
        properties:
          Timestamp:
            type: string
          data:
            type: string
parameters:
  Identification_ID:
    name: Identification_ID
    in: query
    description: instance_id of an ec2
    type: string
  Monitor_Item:
    name: Monitor_Item
    in: query
    description: Monitor_Item of an ec2
    type: string
  StartTime:
    name: StartTime
    in: query
    description: the starttime of data
    type: string
  EndTime:
    name: EndTime
    in: query
    description: the endtime of data
    type: string
  Period:
    name: Period
    in: query
    description: the time interval of data
    type: string
  data_showstatus:
    name: data_showstatus
    in: query
    description: the date of unit
    type: string
